body {
  background-color: black;
  color: rgb(255, 255, 255);
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.star {
  font-size: 2rem;
  cursor: pointer;
  color: #ccc;
}

.star.filled {
  color: #ff0;
}

.book-cover {
  width: 150px;
  height: 200px;
  object-fit: cover;
  box-shadow: -2px 4px 12px rgb(0, 0, 0);
}

.book-title {
  text-align: center;
  margin-bottom: 10px;
}

.book-author {
  margin-top: 0;
}

.book-card {
  background-color: rgb(36, 36, 36);
  width: 250px;
  height: 450px;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: -2px 4px 12px rgb(59, 59, 59);
  border: solid;
  border-color: rgb(179, 179, 179);
  box-sizing: border-box;
}

.book-list {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  padding: 0px 20px 0px;
}

.form-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto; /* Center the form and add space around it */
  padding: 20px;
  width: 300px; /* Set a fixed width for the form */
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-family: "Arial", sans-serif;
}

.input-box,
.input-button {
  width: 100%;
  padding: 15px; /* Increase padding for larger size */
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem; /* Increase font size */
}

.input-box {
  background-color: #ffffff;
  color: rgb(0, 0, 0); /* Text color for the input */
}

.input-button {
  background-color: #474747;
  color: white; /* Text color for the button */
  cursor: pointer;
  box-shadow: -2px 4px 5px rgb(59, 59, 59);
}

/* Custom scrollbar styles */
body::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-track {
  background: #000; /* Background of the scrollbar track */
}

body::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners for the scrollbar thumb */
  border: 3px solid #000; /* Padding around the scrollbar thumb */
}

.book-group {
  background-color: rgb(36, 36, 36);
  width: 250px;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.group-title {
  text-align: center;
  margin-bottom: 10px;
}

.group-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  justify-content: center;
  padding: 25px;
}

.delete-group-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 10px;
}

.delete-group-button:hover {
  background-color: #ff1a1a;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tabs button {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 4px;
}

.tabs button.active {
  background-color: #888;
}

.tab-content {
  padding: 20px;
  background-color: #333;
  border-radius: 8px;
}

.search-card {
  background-color: rgb(36, 36, 36);
  width: 250px;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.search-card select {
  margin-top: 10px;
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: #555;
  color: white;
}

.search-card button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #888;
  color: white;
  cursor: pointer;
}

.search-card button:hover {
  background-color: #aaa;
}

.search-results {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 20px;
}
